html {
    margin: 0;
    padding: 0;
}
* {
    margin: 20px;
}
.all {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.all1 {
    display: flex;
}

.all2 {
    display: flex;
}
.contant {
    margin-bottom: 100px;
}
.contant p:first-child {
    color: maroon;
}

.contant p:nth-child(2) {
    color: navy;
}

.contant p:nth-child(3) {
    color: fuchsia;
}

.contant p:nth-child(4) {
    color: pink;
}

.contant p:nth-child(5) {
    color: silver;
}

.contant p:nth-child(6) {
    color: olive;
}
.cours {
    margin-bottom: 100px;
}
#cours-text {
    font-style: italic;
}

.h1-cont h1:first-child {
    color: green;
    font-size: 20px;
}

.h1-cont h1:nth-child(2) {
    color: red;
    font-size: 12px;
}

.h1-cont h1:nth-child(3) {
    color: teal;
    font-size: 14px;
}

.h1-cont h1:nth-child(4) {
    color: yellow;
    font-size: 16px;
}

.h1-cont h1:nth-child(5) {
    color: red;
    font-size: 22px;
}

.h1-cont h1:nth-child(6) {
    color: blue;
    font-size: 18px;
}