div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.i {
    font-size: 18px;
}
.i,.n {
    font-weight: bold;
}

.n {
    font-size: 13px;
}

.a {
    font-weight: bold;
    font-size: 18px;
    margin-left: 3px;
}

sup {
    margin-bottom: 8px;
}
.vs {
    font-size: 16px;
}
.vs, .ss {
    font-weight: bold;
}

.ss {
    text-transform: uppercase;
    font-size: 13px;
}

.ds {
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 3px;
}
